.viewBlock {
    grid-area: view;

}

.imageBlock {
    padding-left: 3rem;
    padding-right: 3rem;
}

.allBlock {
    margin-top: 20rem;
    margin-left: 30rem;
    display: inline-flex;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-evenly;
}