.nav {
    grid-area: nav;
    display: flex;
    background: rgb(244, 253, 255);
    box-shadow: 0px 5px 15px #182321;
    z-index: 5;

    /*padding-left: 10%;
    padding-top: 10%;*/
}

.item1 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    width: 200px;
    height: 100%;

    border:1px solid rgba(187, 126, 87, 0.45);
    font-weight: bold;
    /*margin: 15px;
    padding: 5px;*/

    /*border-radius: 10px;*/
    background: transparent;

}
.item1 a {
    font-size: 16px;
    font-weight: bold;
    color: rgba(24, 23, 23, 0.8);
    text-decoration: none;
    padding-left: 10px;
}

.item a.active{
    color: rgb(10, 10, 10);
    border-bottom: #282c34;
 }

.item1 a.active {
    font-weight: bold;
    color: rgb(159, 85, 49);

}
.item1:hover {
    transition: 0.2s;
    background-color: rgba(206, 185, 157, 0.8);
    box-shadow: 0 7px 8px 0 rgba(0,0,0,0.24), 0 10px 25px 0 rgba(0,0,0,0.19);
}